/**
 * Stylesheet used in the early version of the launcher.
 * This file remains only as a record and its use is not
 * recommended.
 * 
 * Consider this deprecated.
 * 
 * @author Daniel D. Scalzi
 * 
 */

/*******************************************************************************
 *                                                                             *
 * Fonts                                                                       *
 *                                                                             *
 ******************************************************************************/

/* Primary font for the application, found on http://www.dafont.com/ringbearer.font */ 
@font-face {
    font-family: ringbearer;
    src: url('../resources/fonts/ringbearer.ttf');
}

/* Bitter font, found on https://fonts.google.com/specimen/Bitter */
@font-face {
	font-family: bitter;
	src: url('../resources/fonts/Bitter-Regular.ttf');
}

/*******************************************************************************
 *                                                                             *
 * Root, Shell, Inner Shell                                                    *
 *                                                                             *
 ******************************************************************************/
 /*#ab5e26 */
 /* Styles for the stage */
.root {
	/* Set the background image of the GUI */
	-fx-background-image: url('../resources/images/BrownWithWignette.jpg');
	-fx-background-size: cover;
}
/* The inner shell contains the entire GUI excluding the window frame adapter */
#inner-shell {
	/* Set the border around the bottom, left, and right sides of the inner shell */
	-fx-border-width: 0 1 1 1;
	-fx-border-color: #a02d2a;
}

/*******************************************************************************
 *                                                                             *
 * Window Frame                                                                *
 *                                                                             *
 ******************************************************************************/

/* This is the container that mimics the standard window frame on applications. */
#window-frame-adapter {
	-fx-background-color: #a02d2a;
}
.closebutton,
.diminishbutton,
.restorebutton {
	-fx-color: #a02d2a;
	-fx-background-color: transparent;
	-fx-background-radius: 0em;
	-fx-text-fill: white;
	-fx-background-insets: 0 0 -1 0;
}
.closebutton:focused,
.diminishbutton:focused,
.restorebutton:focused {
    -fx-background-insets: 0 0 -1 0;
}
.closebutton:hover,
.diminishbutton:hover,
.restorebutton:hover {
    -fx-background-color: derive(-fx-color,-10%);
}

/*******************************************************************************
 *                                                                             *
 * Header                                                                      *
 *                                                                             *
 ******************************************************************************/

/* Absolute container node for the header */
#header-container {
	-fx-background-color: black;
}
/* Container for the main row of the header */
#header-main-line {
	-fx-padding: 5 5 5 5;
}
/* Main text node in the header that displays the title  */
#header-text {
	/* Set the color of the text */
	-fx-fill: #f2eada;
	-fx-font: 60 'ringbearer';
}
/* Container node for the trim bar at the bottom of the header */
#header-trim-pane {
	-fx-background-color: #a02d2a;
}

/*******************************************************************************
 *                                                                             *
 * Launcher Log                                                                *
 *                                                                             *
 ******************************************************************************/
 
.launcher-log {
 	-fx-background-color: #2d2835;
	-fx-background-radius: 0em;
	-fx-text-fill: white;
	-fx-min-width: 500px;
	-fx-min-height: 339px;
}
.launcher-log .content {
	-fx-background-color: #2d2835;
	-fx-background-radius: 0em;
}
.launcher-log > .scroll-pane{
	-fx-vbar-policy:always;
}


#log-container {
	-fx-border-width: 3 0 3 3;
	-fx-border-color: #a02d2a;
}
#log-pane {
	-fx-padding: 0 5 5 0;
}

/*******************************************************************************
 *                                                                             *
 * Web Browser                                                                 *
 *                                                                             *
 ******************************************************************************/

#browser_container {
	-fx-border-width: 3 0 3 3;
	-fx-border-color: #a02d2a;
}
#browser-pane {
	-fx-padding: 0 5 5 0;
}

/* The main scrollbar **track** CSS class  */
#webview-main .scroll-bar:horizontal .track ,
#webview-main .scroll-bar:vertical .track ,
.launcher-log .scroll-bar:horizontal .track ,
.launcher-log .scroll-bar:vertical .track {
	-fx-background-color: #a02d2a;
	-fx-border-color:transparent;
	-fx-background-radius: 0em;
	-fx-border-radius:2em;
}
/* The increment and decrement button CSS class of scrollbar */
#webview-main .scroll-bar:horizontal .increment-button ,
#webview-main .scroll-bar:horizontal .decrement-button ,
.launcher-log .scroll-bar:horizontal .increment-button ,
.launcher-log .scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 0em;
	-fx-padding:0 0 10 0;
}
/* The increment and decrement button CSS class of scrollbar */
#webview-main .scroll-bar:vertical .increment-button ,
#webview-main .scroll-bar:vertical .decrement-button ,
.launcher-log .scroll-bar:vertical .increment-button ,
.launcher-log .scroll-bar:vertical .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 0em;
	-fx-padding:0 10 0 0;
}
#webview-main  .scroll-bar .increment-arrow,
#webview-main  .scroll-bar .decrement-arrow,
.launcher-log  .scroll-bar .increment-arrow,
.launcher-log  .scroll-bar .decrement-arrow {
	-fx-shape: " ";	
	-fx-padding:0;
}
/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
#webview-main .scroll-bar:horizontal .thumb,
#webview-main .scroll-bar:vertical .thumb,
.launcher-log .scroll-bar:horizontal .thumb,
.launcher-log .scroll-bar:vertical .thumb {
    -fx-background-color:  #333333;
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;
}
.progress-bar .bar {
	-fx-accent: a02d2a;
	-fx-background-color: linear-gradient(
        from 0px .75em to .75em 0px,
        repeat,
        -fx-accent 0%,
        -fx-accent 49%,
        derive(-fx-accent, 30%) 50%,
        derive(-fx-accent, 30%) 99%
    );
    -fx-padding: 1.5px;
    -fx-background-insets: 0;
    -fx-background-radius: 0em;
}
.progress-bar > .track {
	-fx-background-radius: 0em;
	-fx-background-color: transparent;
}
.progress-bar {
	-fx-padding: 0 5 0 0;
}

/*******************************************************************************
 *                                                                             *
 * Main Right Toggle Bar                                                             *
 *                                                                             *
 ******************************************************************************/

#right-main-toolbar {
	-fx-background-color: transparent;
	-fx-padding: 0 0 0 0;
	-fx-spacing: 0em;
}
.tbbtn {
	-fx-font: 15 'ringbearer';
	-fx-padding: 0 0 10 0;
	-fx-background-color: transparent;
	-fx-background-radius: 0em;
	-fx-text-fill: black;
	-fx-cursor: hand;
}
.tbbtn:hover,
.tbbtn:focused {
	-fx-border-color: black;
	-fx-border-width: 0 0 5 0;
	-fx-padding: 0 0 5 0;
}
.tbbtn:current {
	-fx-text-fill: white;
	-fx-background-color: #a02d2a;
	-fx-border-width: 0 !important;
	-fx-padding: 0 0 10 0;
	-fx-cursor: default;
}
.tbbtn:current:hover {
	-fx-cursor: default;
}
.tbbtn:selected:hover {
	-fx-cursor: default;
}

/*******************************************************************************
 *                                                                             *
 * Server Select Toggle Bar                                                    *
 *                                                                             *
 ******************************************************************************/

.server-select-btn {
	-fx-font: 16 'ringbearer';
	-fx-padding: 5 10 10 10;
	-fx-background-color: transparent;
	-fx-background-radius: 0em;
	-fx-text-fill: black;
	-fx-cursor: hand;
}
.server-select-btn:selected {
	-fx-border-color: white;
	-fx-border-width: 2;
	-fx-padding: 3 8 8 8;
}
#server-select-container {
	-fx-padding: 10 0 0 0;
	-fx-spacing: 10;
}

/*******************************************************************************
 *                                                                             *
 * Left pane                                                                   *
 *                                                                             *
 ******************************************************************************/

#welcome-container {
	-fx-padding: 10 5 0 5;
}
#welcome-text {
	-fx-font: 16 'ringbearer';
	-fx-padding: 50;
}
#login-area {
	-fx-spacing: 15;
	-fx-padding: 10 0 0 0;
}
#login-button,
#settings-button,
#update-button,
#launch-button {
	-fx-text-fill: white;
	-fx-background-color: #a02d2a;
	-fx-background-radius: 0em;
}
#button-dock {
	-fx-padding: 10 0 0 0;
	-fx-spacing: 10
}
#launch-button-container {
	-fx-padding: 30 5 5 5;
}
#login-container {
	-fx-padding: 10 0 0 0;
}
#avatar-container {
	-fx-border-color: black;
	-fx-border-width: 3;
}